
.wrap{

    vertical-align: middle;
    /*文字水平置中*/
    
    text-align: center;
  }



body {
    background-color: #0e212c;
  }
  .neon {
    color: white;
    font-size: 60px;
  }
  .neon {
    color: white;
    font-size: 60px;
    text-shadow: 0 0 50px #fff;
  }
  .neon {
    color: white;
    font-size: 60px;
    text-shadow: 0 0 50px #fff,0 0 150px #fff,0 0 20px #fff;
  }
  @keyframes neon {
    0%,
    100% {
      text-shadow: 0 0 20px #fff, 0 0 100px #fff, 0 0 20px #fff;
    }
    50% {
      text-shadow: 0 0 50px #fff, 0 0 150px #fff, 0 0 50px #fff;
    }
  }
  .neon {
    color: white;
    font-size: 60px;
    animation: neon 1.5s ease-in-out infinite alternate;
  }

.word1 {
    color: #fff;
  }


  